<%- include('../modules/header', {'title': 'Memespace | Home', 'loggedin' :loggedin}); %>

<main>
  <% if (images != null) { %>
  <% for (var i = 0; i < images.length; i++) { %>
  <div class="pic">
    <h2><%= images[i].name %></h2>
    <img src="<%= images[i].url %>" alt="">
    <br>
    <small><%= images[i].date %></small>
    <br>
    <span>Upvotes: <div id="upVotes"></div></span>
    <!-- The following is hardcoded...for now - will be omplemented in database -->
    <script type="text/javascript">var votes = 0; document.getElementById("upVotes").innerHTML=votes;</script>
    <input type="image" src="like.jpg" alt="like Button" class="like" onclick="upVote()">   <!-- Like Button -->
    </div>
 <hr width="65%">

  <% } } %>
</main>
<%- include('../modules/footer', {}); %>
