<%- include('../modules/header', {'title': 'Memespace | Home'}); %>
<h1>Hello world</h1>
<main>
  <% if (images != null) { %>
  <% for (var i = 0; i < images.length; i++) { %>
    <h2><%= images[i].name %></h2>
    <img src="<%= images[i].url %>" alt="">
    <small><%= images[i].date %></small>
  <% } } %>
</main>
<%- include('../modules/footer', {}); %>
