<%- include('../modules/header', {'title': 'Memespace | Home'}); %>
<h1>memespace</h1>
<div class="flex-box">
   <div class="options">
      <a href="create">Go to create</a>
      <a href="account">Go to account</a>
   </div>
</div>
<main>
  <% if (images != null) { %>
  <% for (var i = 0; i < images.length; i++) { %>
    <h2><%= images[i].name %></h2>
    <img src="<%= images[i].url %>" alt="">
    <small><%= images[i].date %></small>
  <% } } %>
</main>
<%- include('../modules/footer', {}); %>
